
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1526888544309'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1526888544309#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.ttf?t=1526888544309') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1526888544309#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yiban-money-:before { content: "\e6e5"; }

.yiban-handoup:before { content: "\e627"; }

